.blog-post {
  .dates {
    margin-top: 1rem;
    color: rgb(187, 187, 187);
  }

  .body {
    margin-top: 1rem;
  }

  iframe {
    border: none;
    overflow-y: hidden;
    background-color: white;
    min-width: 320px;
  }

  .pagination {
    font-size: 14px;

    .next {
      float: right;
    }
  }
}
