.thruhikePage {
  nav a {
    margin-right: 1.5rem;
  }

  .header {
    display: flex;
    align-items: center;

    h1 {
      margin: 1rem 0;
    }
  }
  .image {
    margin-right: 1rem;
    height: 32px;

    img {
      margin-bottom: 0;
    }
  }
  section {
    margin-bottom: 2rem;
  }
  h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  nav {
    margin-top: 1rem;
  }
  .paragraph-class {
    margin-bottom: 0.5rem;
  }
  .loadout {
    ul {
      list-style :none;
      margin-left: 0;
    }
    li {
      margin-bottom: 4px;
      font-size: 0.9rem;
    }
  }
}
