.thruhikeSection {
  .heading {
    h3 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .locations {
      font-weight: bold;
      margin-bottom: 0.22em;
    }

    .dates {
      color: rgb(187, 187, 187);
    }
  }

  .notes {
    padding-top: 40px;
    padding-bottom: 40px;

    .pattern {
      height: 100%;
      background-color: #f8f8f8;

      .content {
        padding: 1rem 2rem;
        line-height: 25px;
        font-size: 19px;
        letter-spacing: 1px;
        word-spacing: 5px;
      }
    }
  }

  .details {
  }
}
