.sectionHikeContainer {
  a {
    color: inherit;
    text-decoration: none;
  }

  .sectionLocation {
    span.dates {
      color: #bbb;
    }

    .locationHeader {
      display: flex;
      height: 32px;

      .locationIcon {
        img {
          margin-bottom: 0;
        }
       margin-right: 0.5em;
      }

      .locationStartEnd {
      }
    }
  }
}
